.main-banner {
    background-image: url(/images/banner.jpg);
    background-position: center center;
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-banner__button {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #fff;
    background: rgba(0,0,0,0.5);
    padding: 20px 30px;
}
.main-banner__button:hover {
    background-color: #000;
}